:host {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  form {
    .actions {
      margin-top: 10px;
    }
  }
}
