:host {
  background-image: url(/assets/images/background.png);
  height: 100%;
  width: 100%;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .form {
    border-radius: 10px;
    border: 5px solid #76a1af;
    box-shadow: 1px -1px 2px 1px #6e6e6e;
    max-width: 100%;
    width: 400px;
    max-height: 100%;
    overflow: auto;
    padding: 10px;
    background: #ced8e152;
  }
}
